# Google OAuth (See Google Cloud Console: https://console.cloud.google.com/)
AUTH_GOOGLE_ID=your-google-client-id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=your-google-client-secret

# URL for your API (local or production)
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Secret key for Auth.js / NextAuth (can be generated with `openssl rand -base64 32`)
# It uses to encrypt tokens and sessions
AUTH_SECRET=run_command_to_generate_secret